/* ------------------------------ */
/* RESET AND BASE STYLES' TUNE UP */
/* ------------------------------ */

@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Simple colors */
    --color-white: #FFFFFF;
    /* Consts colors */
    --color-a-alpha: #087E8B40;
    /* Palette of five colors */
    --color-a: #087E8B;
    --color-b: #FF5A5F;
    --color-c: #3C3C3C;
    --color-d: #F5F5F5;
    --color-e: #C1839F;
    /* Palette A -- monochromatic */
    --color-a-monocromatic-a: #0DC4D9;
    --color-a-monocromatic-b: #39959F;
    --color-a-monocromatic-c: #4ECBD9;
    --color-a-monocromatic-d: #055159;
    /* Palette B -- monochromatic */
    --color-b-monocromatic-a: #802D2F;
    --color-b-monocromatic-b: #FFA6A9;
    --color-b-monocromatic-c: #805354;
    --color-b-monocromatic-d: #CC474C;
    /* Palette C -- monochromatic */
    --color-c-monocromatic-a: #8A8A8A;
    --color-c-monocromatic-b: #573D3D;
    --color-c-monocromatic-c: #8A6060;
    --color-c-monocromatic-d: #D6D6D6;
    /* Palette D -- monochromatic */
    --color-d-monocromatic-a: #757575;
    --color-d-monocromatic-b: #F7ADAD;
    --color-d-monocromatic-c: #755252;
    --color-d-monocromatic-d: #C2C2C2;
    /* Palette E -- monochromatic */
    --color-e-monocromatic-a: #422D37;
    --color-e-monocromatic-b: #CC4E86;
    --color-e-monocromatic-c: #42192C;
    --color-e-monocromatic-d: #8F6176;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: var(--color-white);
        --color-logo: var(--color-c);
        --color-header: var(--color-c);
        --color-text: var(--color-c);
        --color-link: var(--color-a);
        --color-link-hover: var(--color-a-monocromatic-a);
        --color-border: var(--color-a);
        --color-border-alpha: var(--color-a-alpha);
        --color-selection: var(--color-a-monocromatic-c);
        --color-table-header-background: var(--color-a);
        --color-table-header-text: var(--color-d);
        --color-table-item: var(--color-a-monocromatic-a);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--color-c);
        --color-logo: var(--color-d);
        --color-header: var(--color-d);
        --color-text: var(--color-d);
        --color-link: var(--color-a);
        --color-link-hover: var(--color-a-monocromatic-a);
        --color-border: var(--color-a);
        --color-border-alpha: var(--color-a-alpha);
        --color-selection: var(--color-a-monocromatic-c);
        --color-table-header-background: var(--color-a-monocromatic-a);
        --color-table-header-text: var(--color-c);
        --color-table-item: var(--color-a);
    }
}

html {
    font-family: 'Roboto', sans-serif;
    direction: ltr;
    font-size: 16px;
    line-height: 1.382em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: var(--color-background);
}

::selection {
    background: var(--color-selection);
}

:focus-visible {
    outline: 2px solid var(--color-selection);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-header);
    font-weight: 500;
    margin-block-start: 0.382em;
    margin-block-end: 0.618em;
    line-height: 1.382em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }
big { font-size: larger; }
small { font-size: smaller; }

span, p, article, blockquote {
    color: var(--color-text);
    font-weight: 400;
}

ul {
    padding: 16px;
    list-style-type: circle;
}

a {
    background-color: transparent;
    border-bottom: 2px solid var(--color-link);
    font-weight: 500;
    color: var(--color-link);
    text-decoration: none;
}

    a:hover {
        border-bottom: 2px solid var(--color-link-hover);
        color: var(--color-link-hover);
        transition: all 0.5s ease;
        text-decoration: none;
    }

/* ----- */
/* FORMS */
/* ----- */

hr {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

button, input, textarea, select {
    padding: 4px 8px;
    border: 2px solid var(--color-link);
    background: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
    line-height: 1.382em;
    white-space: nowrap;
}

    button:hover, input:hover,
    textarea:hover, select:hover {
        border: 2px solid var(--color-link-hover);
        transition: all 0.5s ease;
    }

option {
    background: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
    line-height: 1.382em;
}

    option:hover {
        background-color: var(--color-selection);
        color: var(--color-white);
    }

fieldset {
    border: 2px solid var(--color-border-alpha);
    border-radius: 4px;
    padding: 8px;
}

legend {
    padding: 2px 4px;
    text-align: left;
}

/* ------ */
/* TABLES */
/* ------ */

table, th, td {
    width: 100%;
    margin-top: 32px;
    padding: 8px;
    border-collapse: collapse;
    table-layout: fixed;
    font-weight: 400;
}

thead {
    border-bottom: 4px solid var(--color-table-item);
}

    thead > tr {
        background-color: var(--color-table-header-background);
        color: var(--color-table-header-text);
    }

        thead > tr > th {
            font-weight: 500;
        }

tbody > tr:nth-child(even) {
    background-color: var(--color-table-item);
    color: var(--color-d);
}

tfoot {
    border-top: 4px solid var(--color-table-header);
}

/* ------------- */
/* SERVICE RULES */
/* ------------- */

.hidden {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* ------ */
/* BANNER */
/* ------ */

.banner-container {
    min-height: 100vh;
    display: flex;
}

.banner {
    margin: auto;
    padding: 16px;
}

/* ------------ */
/* ITEMS STYLES */
/* ------------ */

/* ------ */
/* HEADER */
/* ------ */

.header {
    border-bottom: 2px solid var(--color-border);
}

.header-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo-wrapper {
    text-align: center;
}

.logo-wrapper__logo {
    font-size: 32px;
    font-weight: 500;
    color: var(--color-logo);
}

.menu-wrapper {
    margin-top: 32px;
    align-self: center;
}

.navigation {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navigation__item {
    font-size: 16px;
    text-transform: uppercase;
}

@media only screen and (min-width: 720px) {
    .header-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    .logo-wrapper {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: left;
    }

    .menu-wrapper {
        margin-top: 0px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

/* ----------------------------------- */
/* MAIN, PAGE FLOW AND CONTENT SECTION */
/* ----------------------------------- */

.page {
    flex-grow: 1;
    margin-top: 64px;
    margin-bottom: 64px;
}

@media only screen and (min-width: 960px) {
    .homepage-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
    }

    .column-first {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .column-second {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.post {
    margin: 0 auto;
}

.post__header {
    text-align: center;
    margin-block-end: 32px;
}

/* --------------- */
/* SECTION CONTENT */
/* --------------- */

.content {
    margin-bottom: 64px;
}

.content__section-header {
    font-size: 1.8em;
    margin-top: 0;
    color: var(--color-header);
    padding-left: 16px;
    border: 4px solid var(--color-background);
    outline: 2px solid var(--color-border);
    border-radius: 4px;
}

.content__section-header_accentuated {
    font-size: 2.2em;
    margin-top: 0;
    padding: 4px 4px 4px 16px;
    border: 2px dashed var(--color-background);
    outline: 4px solid var(--color-link-hover);
    border-radius: 4px;
    background-color: var(--color-link-hover);
    color: var(--color-background);
    text-decoration: none;
}

    .content__section-header_accentuated::selection {
        background-color: var(--color-link);
    }

.content__image {
    width: 100%;
    border: 4px solid var(--color-background);
    outline: 2px solid var(--color-border);
    border-radius: 4px;
}

.content-item {
    margin-bottom: 16px;
}

    .content-item__header {
        margin-bottom: 16px;
    }

.content_bordered {
    padding: 16px;
    border: 4px solid var(--color-background);
    outline: 2px solid var(--color-border-alpha);
    border-radius: 4px;
}

.content-link {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 8px;
}

/* -------- */
/* CONTACTS */
/* -------- */

.contacts {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 16px;
    font-style: normal;
}

.contacts__iconed-links-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 32px;
    row-gap: 16px;
    padding: 0;
    list-style-type: none;
}

.contacts__iconed-link {
    border: none;
}

    .contacts__iconed-link:hover {
        border: none;
    }

/* ---- */
/* GITS */
/* ---- */

.git-link {
    margin-left: 4px;
    font-size: 12px;
}

    .git-link a {
        border-bottom: 1px solid var(--color-link);
    }

/* ---- */
/* TAGS */
/* ---- */

.tag-row {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.tag-item {
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: 500;
    border: 1px solid var(--color-c);
    background-color: var(--color-a);
    color: var(--color-white);
}

.tag-item_html { background-color: #e34c26; }
.tag-item_css { background-color: #563d7c; }
.tag-item_ts { background-color: #2b7489; }
.tag-item_vue { background-color: #42b983; }
.tag-item_node { background-color: #026e00; }
.tag-item_postgres { background-color: #336791; }
.tag-item_npm { background-color: #cb0000; }
.tag-item_git { background-color: #f14e32; }
.tag-item_php { background-color: #4F5D95; }
.tag-item_c-sharp { background-color: #178600; }
.tag-item_c-plus-plus { background-color: #f34b7d; }
.tag-item_c-lang { background-color: #555555; }
.tag-item_visual-basic-dotnet { background-color: #945db7; }
.tag-item_python { background-color: #3572A5; }

.tag-item_mongo {
    border: 1px solid #00684A;
    background-color: #00ED64;
    color: #001E2B;
}

.tag-item_express {
    background-color: #e0f5ff;
    color: var(--color-c);
}

.tag-item_electron {
    background-color: #2b2e3b;
    color: #9feaf9;
}

.tag-item_js {
    background-color: #f1e05a;
    color: var(--color-c);
}

.tag-item_pascal {
    background-color: #E3F171;
    color: var(--color-c);
}

/* ------ */
/* FOOTER */
/* ------ */

.footer {
    border-top: 2px solid var(--color-border);
}

.footer-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
}

