@charset 'UTF-8';

.tag-row {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 8px;
}

.tag-item {
	padding: 2px 8px;
	border: 1px solid var(--color-c);
	border-radius: var(--number-content-border-radius);
	background-color: var(--color-a-monocromatic-c);
	color: var(--color-white);
	font-weight: 500;
}

	.tag-item::selection {
		background-color: var(--color-a-monocromatic-b);
	}

.tag-item_html {
	background-color: #E34C26;
}

.tag-item_css {
	background-color: #563D7C;
}

.tag-item_sass {
	background-color: #CF649A;
}

.tag-item_ts {
	background-color: #2B7489;
}

.tag-item_vue {
	background-color: #42B983;
}

.tag-item_node {
	background-color: #026E00;
}

.tag-item_postgres {
	background-color: #336791;
}

.tag-item_npm {
	background-color: #CB0000;
}

.tag-item_git {
	background-color: #F14E32;
}

.tag-item_php {
	background-color: #4F5D95;
}

.tag-item_c-sharp {
	background-color: #178600;
}

.tag-item_c-plus-plus {
	background-color: #f34B7D;
}

.tag-item_c-lang {
	background-color: #555555;
}

.tag-item_visual-basic-dotnet {
	background-color: #945DB7;
}

.tag-item_python {
	background-color: #3572A5;
}

.tag-item_pascal {
	background-color: #E3F171;
	color: var(--color-c);
}

.tag-item_js {
	background-color: #F1E05A;
	color: var(--color-c);
}

.tag-item_react {
	background-color: #282C34;
	color: #61DAFB;
}

.tag-item_electron {
	background-color: #2B2E3B;
	color: #9FEAF9;
}

.tag-item_mongo {
	border-color: #00684A;
	background-color: #00ED64;
	color: #001E2B;
}

.tag-item_express {
	background-color: #E0F5FF;
	color: var(--color-c);
}

.tag-item_eslint {
	border-color: #4A2EC4;
	background-color: #8181F2;
}

.tag-item_webpack {
	background-color: #A5CEE1;
	color: #001E2B;
}

.tag-item_babel {
	background-color: #F5DA55;
	color: var(--color-c);
}
