@charset 'UTF-8';

.homepage {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 960px) {
  .homepage {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 32px;
  }

  .column-first {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .column-second {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.contacts__iconed-link {
  border: none;
  display: flex;
  align-items: center;
}

.contacts__iconed-link:hover {
  border: none;
}
