@charset 'UTF-8';

.sign-link {
  margin-left: 4px;
  font-size: 12px;
}

.sign-link a {
  border-bottom: 1px solid transparent;
}

.sign-link a:hover {
  border-bottom: 1px solid var(--color-link-hover);
}
